* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 94, 94);
}

#calculadora{
    display: flex;
    flex-direction: column;
}

#display{
    background-color: #393939;
    font-family: Arial;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    padding: 10px;
    width: 400px;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#teclado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.btn{
    width: 100px;
    height: 100px;
    background-color: #fff;
    font-family: Arial;
    font-weight: 300;
    font-size: 20px;
    color: #222;
    border: 1px solid #cbcbcb;
    margin: 0;
    padding: 0;   
}

.btn-operador{
    background-color: #dedede;

}

.btn-resultado{
    height: auto;
    background-color: #ff6a00;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
}