.super-string {

    color: rgb(0, 181, 6);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(4, 255, 0, 0.068), 0 0 20px rgba(0, 255, 8, 0.183), 0 0 30px #009e25, 0 0 40px #00a91f81, 0 0 50px #00900c, 0 0 60px #005317, 0 0 70px #00c11aa4;
    }

    to {
        text-shadow: 0 0 20px rgb(2, 47, 0), 0 0 30px #022700, 0 0 40px #002d12, 0 0 50px #001906, 0 0 60px #00230c, 0 0 70px #005c0e, 0 0 80px #00911d;
    }
}

/* ------------------------- SUPER STRING  -------------------------------*/

* {
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #001100;
    display: flex;
    flex-direction: row;
    padding: 5px;
}


.nav-itens {
    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
}

#ul-nav {
    padding-right: 30px;
    height: 100%;
    align-items: center;
    margin-left: auto;
    display: flex;

}

.nav-link {
    padding: 15px;
}

#li-nav {
    font-family: arial;
    list-style-type: none;
    padding: 10px;
    display: flex;
}

a {

    color: rgba(0, 255, 13, 0.836);
    text-decoration: none;
}

body {
    background-color: black;
}

.texto-main {
    font-family: arial;
    margin-top: 90px;
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}

/* * ------------------------------------------------------- */
*/ .planos {
    height: auto;
    padding-top: 130px;
    padding-bottom: 130px;

}

.planos {
    display: flex;
    align-items: center;
    justify-content: center;

}

.box-plano {
    margin: 1rem;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    border: solid 5px rgb(255, 255, 255);
    width: 20vw;
    height: 65vh;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    position: relative;

}

.header-box {

    background-color: #ffffff;
    height: 3.75rem;
    font-size: 1.87rem;
    text-align: center;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;

}

.footer-box {
    background-color: #fff;
    height: 60px;
    font-size: 30px;
    text-align: center;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
}

.box-text {

    height: 100%;
    padding-left: 20px;
    font-family: Arial;
    color: rgba(0, 255, 13, 0.836);
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem;
}

.custom-service-text{
    color: #fff;
    font-family: Arial;
    text-align: center;
    padding-top: 2rem;
}
