* {
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #001100;
    display: flex;
    flex-direction: row;
    padding: 5px;
}


.nav-itens {

    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
}

#ul-nav {
    padding-right: 30px;
    height: 100%;
    align-items: center;
    margin-left: auto;
    display: flex;

}

.nav-link {
    padding: 15px;
}

#li-nav {
    font-family: arial;
    list-style-type: none;
    padding: 10px;
    display: flex;
}


body {
    background-color: black;
}


  

a {

    color: rgba(0, 255, 13, 0.836);
    text-decoration: none;
}


.super-string {

    color: rgb(0, 181, 6);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(4, 255, 0, 0.068), 0 0 20px rgba(0, 255, 8, 0.183), 0 0 30px #009e25, 0 0 40px #00a91f81, 0 0 50px #00900c, 0 0 60px #005317, 0 0 70px #00c11aa4;
    }

    to {
        text-shadow: 0 0 20px rgb(2, 47, 0), 0 0 30px #022700, 0 0 40px #002d12, 0 0 50px #001906, 0 0 60px #00230c, 0 0 70px #005c0e, 0 0 80px #00911d;
    }
}

/*---------------------------------------------------------------- */

.titulo{
    color: rgb(0, 255, 13);
    padding-top: 120px;
    font-family: Arial;
    font-size: 45px;
}


.container{
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: arial;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;

}

.item{
    flex-direction: column;
    display: flex;
    position: relative;
    width: 35rem;
    height: 35rem;
}

.texto{

    font-family: arial;
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: relative;
    text-align: justify;
    flex-direction: column;
    margin: 10px;

    
}


.dono{

    border: 3px solid rgb(0, 255, 13);
    border-radius: 5%;
    width: 34rem;
    height: 34rem;


}
